/draft.ipynb
/draft.py
/data_chung/test_result_50k.npz
/draft_1.ipynb
/draft1.ipynb
/draft2.ipynb
/draft3.ipynb
/draft.py
/data_chung/data_test_ucnm(2).npz
/data_chung/data_test_ucnm.npz
/data_chung/data_train_ucnm(2).npz
/data_chung/data_train_ucnm.npz
/data_chung/data_valid_ucnm(2).npz
/data_chung/data_valid_ucnm.npz
/data_chung/uspto_cluster(4).csv